@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');



html,body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    background: #181825;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;
    
}

img {
    height: 230px;
    width: 630px;
    object-fit: cover;
    border: 2px solid #b8bfd7;
    /* border-bottom: none; */
    margin-bottom: -3px;

}

nav {
    color: #b8bfd7;
    background-color: #13131e;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0px;
    text-align: center;
    border: 2px solid #b8bfd7;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

ul {
    list-style-type: none;
    margin-left: -35px;
    margin-top: 5px;
    margin-bottom: 5px;



}

/* div.user {
    background-color: #262434;
    color: white;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding: 3px;
    border: 1px solid white;
}

div.taskbar {
    color: #b8bfd7;
    background-color: #262434;
    border: 1px solid #b8bfd7;
    padding: 3px;   
} */

.clock-box {
    position: relative;
    color: #b8bfd7;
    background-color: #181825;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #b8bfd7;

}

input {
    background-color: #13131e;
    font: 16px 'Ubuntu Mono', monospace;
    color: #b8bfd7;
    height: 100%;
    width: 100%;
    border: 2px solid #b8bfd7;
    border-top: none;
    text-align: center;
    margin-top: 0px;
    outline: none;
    padding: 5px;
  }

input::placeholder {
    color: #b8bfd7;
}
